@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
}

#home, main {
    padding: 0 40px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.blue {
    color: #14f;
}

.btn {
    background-color: #14f;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 32px;
    cursor: no-drop;
    font-weight: 700;
    font-size: 16px;
}

.btn:hover {
    transform: scale(1.03);
}

h2, h3 {
    color: #234e78;
}

p {
    color: #888;
}

h2 {
    font-size: 48px;
}

/* HOME SECTION */

.nav {
    margin-top: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 40px;
    margin-right: 12px;
    display: flex;
    align-items: center;
}

.logo span {
    font-size: 24px;
    font-weight: 700;
    color: #234e78;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    color: #234e78;
    cursor: pointer;
}

.nav__link:last-child {
    background-color: #14f;
    color: white;
    border-radius: 100px ;
    padding: 12px 24px;
    margin: 0;
    text-align: center;
}

.nav__link:hover{
    text-decoration: underline;
    color: #14f; 
}

.nav__link:last-child:hover {
    background-color: #00f;
    color: white;
    text-decoration: none;
}

.btn__menu {
    border: none;
    color: #234e78;
    background-color: transparent;
    cursor: pointer;
    height: 28px;
    width: 28px;
    display: none;
}

.btn__menu i {
    font-size: 24px;
}

.btn__menu:hover, .btn__menu:active {
    color: #14f;
}

.menu__backdrop {
    position: fixed;
    top: 16px;
    left: 40px;
    right: 40px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: white;
    text-align: center;
    z-index: 3;
    border: 1px solid #bbb;
    border-radius: 8px;
    font-weight: 700;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.btn__menu--close {
    position: absolute;
    right: 16px;
    top: 20px;
}

.menu__links .nav__link {
    margin: 18px;
}

.cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 96px 16px;
}

.col1 {
    width: 40%;
}

.col1 h1 {
    font-size: 36px;
    margin-bottom: 32px;
    opacity: 0.9;
}

.col1 p {
    font-size: 16px;
    margin-bottom: 32px;
    color: #234e78;
}

.col-s {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    opacity: 0.8;
}

.col-s input {
    padding: 16px 32px;
    border: 1px solid #999;
    border-radius: 32px;
    font-weight: 500;
    width: 100%;
}

.col-s button {
    position: absolute;
    right: 8px;
    top: 4px;
    bottom: 4px;
    font-size: 16px;
    font-weight: 700;
}

.customers p {
    color: #888;
    margin-bottom: 16px;
    font-size: 14px;
}

.customers img {
    padding-right: 32px;
}

.col2 {
    width: 60%;
    padding-left: 64px;
    display: flex;
    align-self: flex-end;
    flex: 1 1 60%;
}

/* FEATURES SECTION */

#features {
    margin: 0 56px;
    padding: 96px 16px;
}

#features img {
    height: 24px;
    width: 24px;
}

.img-wrapper {
    border: 1px solid #999;
    border-radius: 100px;
    padding: 20px;
    transform: translateY(50%);
    margin-right: 16px;
}

.features__head {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.features__head span {
    width: 100%;
    font-weight: 700;
}

.features__head h2 {
    margin: 24px 0 48px;
    width: 100%;
}

.features__head p {
    margin-bottom: 24px;
}

.features__desc {
    margin-top: 32px;
}

.features__desc h3 {
    font-size: 24px;
    margin-bottom: 12px;
}

.features__body {
    display: flex;
    flex-flow: row wrap;
    padding-top: 80px;
}

.features__body > div {
    width: calc(100% / 3);
    padding: 16px 40px 0;
    margin-bottom: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* cols2 SECTION */

.cols2 {
    display: flex;
    flex-flow: row-reverse wrap;
    padding: 96px 16px;
}

.cols2-1 {
    width: 50%;
}

.cols2-1 img {
    border: solid 2px #999;
}

.cols2-2 {
    width: 50%;
    padding-right: 64px;
}

.cols2-2 span {
    font-weight: 700;
}

.cols2-2 h2 {
    margin: 32px 0;
}

.cols2-2 p {
    margin-bottom: 32px;
}

/* cols3 SECTION */

.cols3 {
    display: flex;
    flex-flow: row wrap;
    padding: 96px 16px;
}

.cols3-1 {
    width: 50%;
    padding: 32px 0;
    display: flex;
    align-items: center;
}

.cols3-2 {
    width: 50%;
    padding: 32px 0 32px 64px;
}

.cols3-2 span {
    font-weight: 700;
}

.cols3-2 h2 {
    margin-top: 16px;
}

.cols3__desc {
    margin-top: 32px;
    display: flex;
    max-width: 70%;
}

.cols3__desc h3 {
    font-size: 20px;
}

.cols3__desc--no {
    font-size: 32px;
    color: #bbb;
    padding-right: 16px;
}

.cols3__desc p {
    padding-top: 16px;
    line-height: 1.5;
}

/* VALUES SECTION */


.cols4 {
    display: grid;
    grid-template-columns: 47% 47%;
    gap: 48px;
    padding: 96px 16px;
}

.cols4-1 {
    grid-area: 1/2/2/3;
}

.cols4-2 > span {
    font-weight: 700;
}

.cols4-2 h2 {
    margin: 16px 0 32px;
}

.cols4-2 > p{
    font-size: 18px;
    margin-bottom: 32px;
}

.cols4-2__col img {
    width: 15px;
    height: 15px;
}

[class^="img__wr"] {
    border-radius: 50px;
    display: inline;
    padding: 8px;
}

.img__wr1 {
    background-color: #093;
}

.img__wr2 {
    background-color: rgba(244, 65, 65, 0.912)
}

.cols4-2__col {
    display: grid;
    grid-template-columns: 47% 47%;
    gap: 32px;
    margin-bottom: 32px;
    text-align: left;
}

.cols4-2__col > div {
    display: grid;
    grid-template-columns: auto;
    gap: 16px 8px;
    justify-content: start;
    align-items: center;
}

.cols4-2__col span {
    font-size: 20px;
    margin-left: 12px;
    color: #234e78;
    font-weight: 500;
}

/* PRICING SECTION */

#pricing {
    padding: 96px 16px;
}

.pricing__head {
    width: 100%;
    text-align: center;
}

.pricing__head span {
    font-weight: 700;
}

.pricing__head h2 {
    margin: 32px 0;
}

.pricing__plans {
    padding: 56px 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.pricing__plan {
    position: relative;
    width: 28%;
    margin-right: 32px;
    border: 1px solid #bbb;
    border-radius: 8px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pl-top1 {
    height: 10px;
    width: 101%;
    background-color: #4ab;
    position: absolute;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    top: 0;
}

.pl-top3 {
    height: 10px;
    width: 101%;
    background-color: #f88;
    position: absolute;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    top: 0;
}

.pl1, .pl2, .pl3 {
    padding: 32px;
    width: 100%;
}

.pl1, .pl2 {
    border-bottom: 1px solid #bbb;
}

.pl1 h4 {
    font-size: 20px;
    margin-bottom: 16px;
}

.pl1 span {
    font-size: 40px;
    font-weight: 700;
}

.pl1 p {
    margin-top: 16px;
}

.pl2 {
    display: grid;
    gap: 20px;
}

.pl2__head {
    font-size: 20px;
    font-weight: 700;
}

.pl2__feature {
    color: #888;
}

.pl3 button {
    padding: 16px 32px;
    border: none;
    border-radius: 24px;
    background-color: #4ab;
    color: white;
    font-weight: 500;
    font-size: 14px;
    width: 80%;
}

.pl3 button:hover {
    transform: scale(1.02);
    cursor: not-allowed;
}

.pricing__plan:nth-child(2), .pricing__plan:nth-child(2) p, .pricing__plan:nth-child(2) span {
    background-color: #14f;
    color: white;
    opacity: 0.9;
}

.pricing__plan:nth-child(2) button {
    background-color: white;
    color: #14f;
}

.pricing__plan:nth-child(3) button {
    background-color: #f88;
}

#testimonials {
    padding: 96px 16px;
}

.cols5 {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.cols5-1 {
    width: 50%;
    padding-right: 56px;
}

.cols5-2 {
    width: 50%;
}

.cols5-2 span {
    font-weight: 700;
}

.cols5-2 h2 {
    margin: 16px 0 18px;
}

.tes {
    margin: 32px 0;
}

.rate {
    color: #fb4;
}

.tes h3 {
    font-size: 20px;
}

.tes > h3 {
    margin-top: 16px;
}

.tes blockquote {
    margin: 16px 0 40px;
    color: #456;
}

.tes__user {
    display: flex;
    justify-content: space-between;
}

.tes__user--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tes__user img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-right: 24px;
}

.arrow {
    display: flex;
    align-items: center;
}

.arrow button {
    border: none;
    background-color: white;
    cursor: no-drop;
}

.arrow button:first-child {
    border-right: 1px solid #cfcfcf;
}

.arrow i {
    background-color: #edf4f8;
    border-radius: 100px;
    padding: 16px;
    margin: 0 12px;
    color: #00f;
    transition: background-color 300ms ease;
}

.arrow i:hover {
    background-color: #ececec;
}

/* LAST SECTION */

#last {
    padding: 96px 16px;
    margin-bottom: 96px;
}

.last-wr {
    background-color: #14f;
    color: white;
    padding: 80px 32px;
    border-radius: 16px;
}

.last-info {
    display: flex;
    align-items: center;
    margin: 32px;
}

.last-info__head {
    font-size: 30px;
    padding-right: 15vw;
}

.last-info__buttons {
    display: flex;
}

.last-info__buttons button {
    border-radius: 40px;
    padding: 16px 32px;
    font-weight: 700;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    border: none;
    font-size: initial;
    width: 160px;
}

.last-info__buttons button:first-child {
    background-color: #e65;
    margin-right: 32px;
}

.last-info__buttons button:last-child {
    border: 1px solid white;
}

.last-info__buttons button:first-child:hover {
    background-color: #f54;
}

.last-info__buttons button:last-child:hover {
    background-color: white;
    color: #14f;
}

/* FOOTER SECTION */

footer {
    padding: 80px 32px;
    background-color: #14f;
}

.footer__cols {
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 48px;
    margin-top: -32px;
}

.footer__col {
    padding: 0 16px;
    margin-top: 32px;
}

.footer__col h4 {
    margin-bottom: 24px;
}

.footer__col li {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.5;
}

.footer__cols a {
    border-bottom: 2px solid transparent;
    transition: border-bottom 250ms ease;
}

footer a:hover {
    border-bottom-color: white;
}

.footer__down {
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__down .logo img {
    filter: grayscale(1) invert(1);
}

.footer__down .logo span {
    color: #e5e5e5;
}

.copy {
    color: #c9c9c9;
}

.foot-links span {
    background-color: #eee;
    border-radius: 100px;
    padding: 8px;
    margin-right: 16px;
    transition: background-color 300ms ease;
}

.foot-links i {
    height: 16px;
    width: 16px;
}

.foot-links span:hover {
    background-color: #bbb;
}

/* MEDIA QUERIES FOR DESKTOPS */

@media screen and (max-width: 1000px) {
    .nav__links {
        display: none;
    }
    .btn__menu {
        display: inline;
    }
    .col1, .col2 {
        width: 100%;
        max-width: 600px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .col2 {
        margin-top: 48px;
        padding-left: 0;
    }
    .features__body > div {
        width: 50%;
    }
    .pricing__plans {
        padding: 56px 24px 0;
        align-items: center;
    }
    .pricing__plan {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    .pricing__plan:nth-child(2), .pricing__plan:nth-child(3) {
        margin-top: 56px;
    }
    .cols4-2__col {
        grid-template-columns: auto;
        text-align: center;
        gap: 48px;
        max-width: 80%;
        margin: 0 auto 56px;
    }
}

/* MEDIA QUERIES FOR TABLETS, SMART PHONES */

@media screen and (max-width: 800px) {
    h2 {
        font-size: 36px;
    }
    .col1 p {
        font-size: 16px;
    }
    .col-s {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 14px;
    }
    .col-s button {
        position: static;
        padding: 16px 32px;
        margin-top: 16px;
    }
    #features {
        margin: 0;
    }
    .features__head {
        width: 100%;
        margin: 0;
    }
    .features__head p {
        font-size: 14px;
    }
    .features__body {
        padding-top: 0;
    }
    .features__body > div {
        width: 100%;
        margin: 0;
        padding: 32px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .features__body span {
        margin: 0 0 16px;
    }
    .cols2-1, .cols2-2 {
        width: 100%;
    }
    .cols2-2 {
        margin-top: 56px;
        text-align: center;
        padding-right: 0;
    }
    .cols3-1, .cols3-2 {
        width: 100%;
    }
    .cols3-2 {
        margin-top: 56px;
        padding: 0;
        text-align: center;
    }
    .cols3__desc {
        flex-direction: column;
        margin: 32px auto;
        align-items: center;
    }
    .cols4 {
        display: grid;
        grid-template-columns: auto;
    }
    .cols4-1 {
        grid-area: 1/1/2/2
    }
    .cols4-2 {
        margin-top: 56px;
        text-align: center;
    }
    .cols4-2 > p {
        font-size: 14px;
        margin-bottom: 48px;
    }
    
    .cols5-1, .cols5-2 {
        width: 100%;
    }
    .cols5-2 {
        margin-top: 56px;
    }
    .cols5-2 > p {
        font-size: 14px;
    }
    .tes__user {
        flex-direction: column;
        align-items: center;
    }
    .tes__user--info {
        flex-direction: column;
    }
    .tes__user--info img {
        margin: 0 0 8px;
    }
    .arrow {
        margin-top: 32px;
    }
    #last {
        padding: 0;
    }
    .last-info {
        flex-direction: column;
        margin: 0;
    }
    .last-info__head {
        padding-right: 0;
        font-size: 24px;
        margin-bottom: 24px;
        text-align: center;
    }
    .last-info__buttons {
        flex-direction: column;
        font-size: 14px;
    }
    .last-info__buttons button:first-child {
        margin-bottom: 16px;
        margin-right: 0;
    }
    .footer__cols {
        justify-content: center;
        text-align: center;
    }
    .footer__down {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .logo, .copy {
        margin-bottom: 24px;
    }
    .foot-links span:last-child {
        margin-right: -16px;
    }
}